body {
  font-family: monospace;
  margin: 40px;
  background-color: #ffffff;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 10px 10px;
  min-width: 50%;
}

.navbar-left {
  font-weight: bold;
}

.navbar-center {
  text-align: center;
  font-weight: bold;
}

.add-btn {
  border-radius: 25px;
  padding: 10px 10px;
  font-weight: bold;
}

.circle {
  width: 70px;
  height: 70px;
  border: 2px solid #000;
  border-radius: 50%;
  margin-left: 20px;
}

.queue-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 400px;
}

.queue-name {
  flex: 1;
  margin-left: 30px;
}

.queue-number {
  margin-left: 30px;
}
